body {
  font-family: Arial, sans-serif;
  background: linear-gradient( #a7eedb, #10ac84);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.toggle-links {
  margin-bottom: 15px;
}

.toggle-links a {
  text-decoration: none;
  color: #1dd1a1;
  font-weight: bold;
}

#switchToSignup{
  color: #1dd1a1;
  font-weight: bold;
  text-decoration: none;
  
}

#switchToSignin{
  color: #1dd1a1;
  font-weight: bold;
  text-decoration: none;
}

.toggle-links a.active {
  border-bottom: 2px solid #1dd1a1;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #1dd1a1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}

button:hover {
  background: #10ac84;
}

.hidden {
  display: none;
}
